<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}
    
        <h5>{{helpText}}</h5>
    </div>
    
    {{>footer}}
</body>

</html>