<!DOCTYPE html>
<html>

<head>
    {{>head}}
</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Find weather in your city !</p>

        <form>
            <input placeholder="Location">
            <button>Submit</button>
        </form>

        <p id="message-1"></p>
        <p id="message-2"></p>
    </div>
    
    {{>footer}}

    <script src="/js/script.js"></script>
</body>

</html>